{% extends 'base/template.site.twig' %}

{% block title %} Editar Post - {{ post.getTitle() }} {% endblock %}

{% block content %}
    <h1>Editando Post</h1>
    <h4>{{ post.getTitle }}</h4>
    {{ form_open('posts/update/'~post.getId()) | raw }}
    <div class="row">
        <div class="col-xs-12 col-sm-9">
            <div class="form-group">
                <label for="title">Título</label>
                <input type="text" name="title" id="title" value="{{ post.getTitle() | default('') }}" class="form-control" required>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-9">
            <label for="content">Conteúdo</label>
            <textarea name="content" id="content" cols="30" rows="10" class="htmleditor">{{ post.getContent() | default('') }}</textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-9">
            <br>
            <button style="float: right;" type="submit" class="btn btn-outline-success">Salvar</button>
        </div>
    </div>

    {{ form_close() | raw }}

    <br>
    <a href="javascript:history.back();">Voltar</a>
{% endblock %}