{% extends 'base/template.site.twig' %}

{% block title %} Listagem de Posts {% endblock %}

{% block content %}

    <h1>Listagem de Posts</h1>
    <a class="btn btn-outline-success" href="{{ base_url('posts/create/') }}">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Adicionar Novo Post
    </a>
    <br>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th style="width: 40%;">Ações</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.getId() }}</td>
                <td>{{ post.getTitle() }}</td>
                <td>
                    <a href="{{ base_url('posts/categories/'~post.getId()) }}" class="btn btn-outline-primary btn-sm">
                        <i class="fa fa-list-alt" data-toggle="tooltip" data-placement="top" title="Relacionar Categorias" aria-hidden="true"></i>
                    </a>
                    <a href="{{ base_url('posts/edit/'~post.getId()) }}" class="btn btn-outline-secondary btn-sm">
                        <i class="fa fa-pencil-square-o" data-toggle="tooltip" data-placement="top" title="Editar Conteúdo" aria-hidden="true"></i>
                    </a>
                    <a href="{{ base_url('posts/remove/'~post.getId()) }}" class="btn btn-outline-danger btn-sm">
                        <i class="fa fa-trash" data-toggle="tooltip" data-placement="top" title="Excluir" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="javascript:history.back();">Voltar</a>
{% endblock %}